body {
    font-family: "Poppins", sans-serif;
    background-color: #6a5af9;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 40px;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 2rem;
    user-select: none;
    position: relative;
    margin: 30px 30px 16px;
    padding: 18px 45px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    color: #333;
    font-weight: 500;
    -webkit-box-shadow: 0 0 20px #eee;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    cursor: pointer;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f6d365),
        color-stop(51%, #fda085),
        to(#f6d365)
    );
    background-image: -o-linear-gradient(left, #f6d365 0%, #fda085 51%, #f6d365 100%);
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn:hover {
    background-position: right center;
}
